
/* FONTS */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


    


/* GLOBAL STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes', sans-serif;
    
}

/* Services header */
.page {
    min-width: 320px; 
    max-width: 1120px; 
    margin: 0 auto; 
}


/* Buttons position */
.services__toolbar {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    gap: 16px;
    background-color: #ffffff;
}

.services__toolbar--button {    
    background: none;
    border: none;
}

.company__logo {
    margin-right: auto;
}

.toolbar__button--middle {
    display: flex;
    gap: 16px;
   
}

.toolbar__button--right {
    display: flex;
    gap: 16px;
} 

.divider__1,
.divider__2 {
    height: 32px;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
}

.divider__1,
.toolbar__button--middle,
.button__label--repair,
.button__label--checkstatus {
    display: none;
    white-space: nowrap;
}

 .toolbar__button--right--2 {
    margin-left: auto;
    margin-right: 16px;
    display: none;
    gap: 16px;
}

.toolbar--btn--repair,
.toolbar--btn--check {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.button__label--checkstatus,
.button__label--repair {
    display: flex;
    white-space: nowrap;
}

/* HERO section */
.section__navbar {
    display: flex;
    flex-direction: row; 
    margin: 24px 0;  
}
.highlight {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.hero__section--title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-left: 16px;
}

.services__navigation {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1120px;
    margin: 24px 16px;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

/* Navigation scroll */
.services__navigation--scroll {
    overflow-x:scroll;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
   
.services__navigation--scroll::-webkit-scrollbar { display: none; }

.services__navigation--link {
    display: flex;
    flex: 0 0 auto;
    text-decoration: none;
    padding: 0 20px;
    color: #7E7E82;
    border: 2px solid transparent;
    border-radius: 8px; 
}

.services__navigation--link:hover,
.services__navigation--link:active {
    border: 2px solid #41F6D7;
    border-radius: 8px;
    transition: border-color 0.2s;
}

.services__content {
    display: flex;
    flex-direction: column; 
   
    padding: 16px;
    gap: 20px;
}

.services__text,
.services__content__image {
    flex-shrink: 0;
    
}

.services__content__image{
    margin-left: -16px;
    margin-right: -16px;
}
.services__content__image--img {
    width: 100%;
    height: auto;
    display: block;
}


.services__text--p1 {
    margin-bottom: 20px;
}



.services__button--read--more {
    display: flex;
    width: 132px;
    height: 24px;
    margin: 16px;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
}

/* Responsive parameters */
    
@media (min-width: 431px) {

    .services__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .divider__1,
    .toolbar__button--middle {
        display: flex;
    }

    .services__text {
        width: 50%;
        margin-right: 24px;
    }

    .services__content__image {
        width: 50%;
      
        
    }
}

@media (min-width: 768px) {

    .services__toolbar {
        display: none;
    }

    
    .services__navigation {
        display: flex;
        flex-wrap: wrap;
        max-width: 1120px;
        margin: 24px 16px;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .services__navigation--link {
        white-space: normal;

    .services__content {
        flex-direction: row;
        align-items: flex-start;
    }

    .services__text {
        width: 50%;
    }

    .services__content__image {
        width: 50%;
    }

    .toolbar__button--right--2 {
        display: flex;
    }

    .button__label--repair,
    .button__label--checkstatus {
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
    }

   
}